version: '3'
services:
    backend:
        build: .
        environment:
          - APP_ENV=development
        volumes:
          - .:/usr/src/app
          - ./data:/usr/src/data
        ports:
          - "4567:4567"
