version: '3'
services:
    backend:
        build: .
        environment:
          - APP_ENV=production
          - DATA_BASE_PATH=/usr/src/data
        volumes:
          - /var/docker/notes/data:/usr/src/data
        ports:
          - "8882:4567"

