.infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 3px;
    border: 1px solid #ddd;
}

.infoRow--text {
    vertical-align: top;

    white-space: pre;
}
